<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>

	 <link type="text/css" rel="stylesheet" href="Content/syntaxhighter/shCore.css"/>
	 <link type="text/css" rel="stylesheet" href="Content/syntaxhighter/shThemeDefault.css"/>

	 <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>

    <script type="text/javascript" src="Scripts/syntaxhighter/shCore.js"></script>

</head>

<body>
    @RenderBody()


	<script type="text/javascript" src="Scripts/syntaxhighter/shBrushCSharp.js"></script>
	<script type="text/javascript">SyntaxHighlighter.all();</script>

</body>
</html>
